.text {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #39c;
}
.title1 {
	font-family: "Comic Sans MS", cursive;
	font-size: 16px;
	color: #069;
	text-decoration: underline;
	font-style: oblique;
}
